header {
    background-color: black;
    color: white;
}
body {
    min-height: 100vh;
    text-align: center;
    margin: 0px;
    background-color: wheat;
}
h1 {
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 0px;
}
header p {
    margin: 0px;
    padding: 5px;
}
.container {
    max-width: 500px;
    margin: auto;
    margin-bottom: 100px;
}
#texto-tarefa {
    width: calc(100% - 120px);
    margin-top: 10px;
}
.space-button {
    margin: 6px;
}
#lista-tarefas {
    cursor: default;
    border: 1px solid;
    border-radius: 3px;
    max-width: 500px;
    height: 300px;
    margin: auto;
    overflow-y: scroll;
    text-align: left;
    background-color: white;
    margin: 0px 5px;
}
.completed {
    text-decoration: line-through;
}
.selected {
    background-color: rgb(128, 128, 128);
}
.no-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer img {
    width: 30px;
}
/* .no-highlight:focus {
    outline: none !important;
} */